.container {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(247, 247, 247);
}

.main {
    display: block;
    position: fixed;
    width: 100%;
    top: 200px;
    background-color: red;
    text-align: center;
}

.footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 100px;
    background-color: blue;
}

.footer span {
    display: block;
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}